body {
	background-image: url("../images/concrete_seamless.png");
	background-attachment: fixed;
}

nav {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	height: 30px;
	padding: 30px;
	position: relative;
}

ul {
	list-style-type: none;
	padding: 0;
	z-index: 1;
	margin-right: 50px;

	
}

li a {
	text-decoration: none;
	display: inline-block;
	text-align: center;
	color: #777777;
	font-size: 16px;
	line-height: 24px;
	float: right;
	margin: 0 10px 0 10px;

}

li:nth-of-type(2) {
	border-right: solid;
	border-left: solid;
	border-color: #cccccc;
}

#name {
	background-color: #4aaaa5;
	color: white;
	height: 30px;
	padding: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size:	24px;
	position: absolute;
	margin-left: 80px;
	float: left;
	clear: right;
	z-index: 2;
}

#bio {
	background-color: #ffffff;
	width: 650px;
	padding: 30px;
	border: 1px solid #cccccc;
	display: inline-block;
	clear: both;
	margin-left: 80px;
	margin-top: 50px;
	margin-bottom: 50px;
}

span {
	font-style: italic;
}

h2 {
	color: #4aaaa5;
	font-size: 24px;
	line-height: 36px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 600;
	padding: 10px;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 15px;
}

#ez {
	height: 175px;
	width: 200px;
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}

p {
	width: 575px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 27px;
	color: #777777;
}

h3 {
	color: #4aaaa5;
	font-size: 20px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	line-height: 30px;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 15px;
}

#connect {
	background-color: #ffffff;
	display: inline-block;
	height: 130px;
	width: 240px;
	border: 1px solid #cccccc;
	float: right;
	clear: left;
	padding: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#logos {
	display: inline-block;
}

.logo {
	height: 62px;
	width: 62px;
	float: left;
	margin: 5px;

}

footer {
	text-align: center;
	margin: 0;
	background-color: #666666;
	padding: 38px;
	border-top: 10px solid #4aaaa5;
}

h6 {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	color: #777777;
}

#contact {
	background-color: #ffffff;
	width: 650px;
	display: inline-block;
	padding: 30px;
	border: 1px solid #cccccc;
	margin-left: 80px;
	margin-top: 50px;
	margin-bottom: 50px;
	clear: both;
}

input, textarea {
	width: 100%;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 12px;
}

label {
	font-size: 18px;
	line-height: 27px;
}

#portfolio {
	background-color: #ffffff;
	width: 650px;
	display: inline-block;
	padding: 30px;
	border: 1px solid #cccccc;
	margin-left: 80px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.container {
	height: 205px;
	width: 275px;
	position: relative;
	float: left;
	margin: 15px 15px 15px 15px;
}

.stock {
	position: absolute;
	margin: 0;
	height: 205px;
	width: 275px;
	z-index: 1;
}

h4 {
	z-index: 2;
	position: absolute;
	bottom: 10px;
	background-color: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size:	24px;
	line-height: 36px;
	text-align: center;
	width: 275px;
	padding: 10px 0 10px 0;
}
